
@{
    ViewBag.Title = "Acesso Negado";
}

<h2>Acesso negado!</h2>
<p>Você não está logado ou não possui autorização para esta funcionalidade no sistema!</p>
<p>Conecte-se, por favor, ou entre em contato com o administrador do sistema.</p>
@Html.ActionLink("Log in","Login","Account")
