@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>
<h3>Sistema Gerenciador de Clíninca Médica - SIS - Clínica X</h3>

<p>Sistema Gerenciador de Clínica Médica desenvolvido por Rafael Mota Correia em ASP.NET MVC 5. 
    Requisito de fim de curso para obtenção do título de Bacharel em Sistemas de Informações.</p>
