@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>Página de Contato</h3>

<address>
    Rua Tenente Waldeberto Antônio de Sousa, 132<br />
    Caucaia, CE - Brasil 61620-040<br />
    <abbr title="Telefone">Tel:</abbr>
    (85) 98646-6811
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:rafaelmc-dono@hotmail.com">rafaelmc-dono@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:rafaelmc-dono@hotmail.com">rafaelmc-dono@hotmail.com</a>
</address>